---
title: "About me"
date: 2025-10-05
author: "Moris Johnson"
tags: [resume, portfolio]
draft: false
description: "Resume."
slug: about
layout: post
toc: false
---
## Profile
Senior Speech Application Engineer with 5 years of experience in developing advanced chatbots and voicebots using transformer models and LLMs. I specialize in designing and deploying microservices architectures and conversational systems, enhancing capabilities in handling bulk interactions.

<script>
  import Mermaid from '$lib/components/Mermaid.svelte';
</script>

## Experience

<Mermaid code={`
timeline
    01/2021 - 07/2021 : Speech Recognition Intern : Remote, India : GoVivace
    08/2021 - 10/2023 : Speech Recognition Engineer : Remote, India : GoVivace
    11/2023 - present : Senior Speech Application Engineer : Remote, India : GoVivace
`} />

## Education & Awards
* **B.Tech Electronics and Communication Engineering (92%)** - (08/2017 - 05/2021).
* **Best Outgoing Student Award** - (08/2017 - 05/2021).

## Technical Arsenal
* **Languages:** Python, Rust (intermediate), bash, perl.
* **Frameworks & Tools:** SpaCy, transformers, PyTorch, Tensorflow, Fastapi, Falcon, Flask, RabbitMQ, Langchain, Langflow, Asterisk, ONNX.
* **Deployments & DBs:** Docker, Azure, Oracle, MongoDB, MySQL, Redis.
