---
title: "About"
date: 2025-10-05
author: "Moris Johnson"
tags: [resume, portfolio]
draft: false
description: "Resume."
slug: about
layout: post
toc: false
---
<script>
  import { Avatar} from "$lib/components";
</script>

<Avatar />


Yeah this is some dummy text
