<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # If the requested path is exactly index.html, do nothing
  RewriteRule ^index\.html$ - [L]
  
  # If the requested path is NOT a valid file
  RewriteCond %{REQUEST_FILENAME} !-f
  
  # If the requested path is NOT a valid directory
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Route everything else to index.html
  RewriteRule . /index.html [L]
</IfModule>