body {
    font-family: monospace;
    background: var(--background);
    color: var(--foreground);
    height: 100vh;
    padding: 10px;
    overflow-y: auto;
  }

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
:root {
  --black: #07080d;
  --red: #ffc0b9;
  --green: #b3f6c0;
  --yellow: #fce094;
  --blue: #a6dbff;
  --purple: #ffcaff;
  --cyan: #8cf8f7;
  --white: #eef1f8;

  --bright-black: #4f5258;
  --bright-red: #ffc0b9;
  --bright-green: #b3f6c0;
  --bright-yellow: #fce094;
  --bright-blue: #a6dbff;
  --bright-purple: #ffcaff;
  --bright-cyan: #8cf8f7;
  --bright-white: #eef1f8;

  --background: #14161b;
  --foreground: #e0e2ea;
  --selection-background: #4f5258;
  --cursor-color: #9b9ea4;


  /* Font Size Variables */
  --font-size: calc(1vw);
  --title-size: 2.5vw;
  --version-text: 0.6vw;
}

/* Mobile Screen CSS */
@media (max-width: 599px) {
    :root {
      --font-size: 2.5vw;
      --title-size: 6vw;
      --version-text: 3vw;
    }
}
/* Tab Screen CSS */
@media (min-width: 600px) and (max-width: 899px) {
    :root {
      --font-size: 2vw;
      --title-size: 6vw;
      --version-text: 3vw;
    }
}