.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 16.67vw;  */
    width: auto;
    font-size: 1vw;
    margin-top: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2%;
}

.svg-container {
  margin: 0;
  padding: 0;
  border: 0;
  display: block; /* Removes extra bottom space in some layouts */
}


.fetch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.label {
  color: aliceblue;
  margin-bottom: 0;
}
.value {
  color: aliceblue;
  margin-bottom: 0;
}
.terminal {
  margin-right: 2%;
  margin-left: 2%;
}
